    <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed' ">
      <input type="checkbox" ng-model="todo.completed" />
      <span ng-click="todo.completed = !todo.completed; todo.edited = true;"></span>
      <label ng-hide="editing" ng-click="editing=true">{{todo.name}}</label>
      <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="todo.name" ng-change="todo.edited = true"/>
      <div class="actions">
        <a href="" ng-click="saveTodos()">Save</a>
        <a href="" ng-click="addSub(todo)">Add Sub</a>
        <a href="" class="delete" ng-click="deleteTodo(todo, $index)">Delete</a>
      </div>
        <ul class='sub'>
            <li ng-repeat='item in todo.sub' ng-init='editmode=false'><span ng-hide='editmode' ng-click='editmode=true'>{{item}}</span><input type='text' ng-model='item' ng-show='editmode'/><button type='button' ng-show='editmode' ng-click='saveSub(item, todo, $index)'>Save</button></li>
        </ul>
    </div>